h1 {
    color: #05dc37;
}

body {
    background: #f0f0f0;
}

header button {
    width: 120px;
    height: 30px;
    margin-left: 20px;
    float: right;
    border-radius: 20px;
}

#logoff-btn {
    display: none;
}

#deineListe-btn {
    display: none;
}